- provide(:titulo, 'Mapa')




%h2 Encuentra tus eventos cercanos
.container-fluid.explorar
  #contflu.row-fluid.contenedor
    #mapa.mapa.flexible.col-sm-8
    #tarjetas.col-sm-4
      %h2 Eventos


= javascript_include_tag "jquery"
= javascript_include_tag "mapa.js"
<input name="button" type="button" onclick="get_current_location()" value="Localizame" /> 