<% provide(:title, 'About Us') %>

<section class="container-fluid" id="section3">
 <div align=center class="col-md-12">
  <h2 class="text-center" id="evento1">Sobre Eventario...</h2>
    <p class="text-center lead">Eventario es una aplicación que te permite encontrar eventos a tu alrededor  en la ciudad de México. Dentro de Eventario puedes econtrar los eventos que la ciudad promueve, la aplicacón consume información de Secretaría de Turismo y Secretaría de Cultura de la Ciudad de México  </p>
    <p class="text-center lead">Eventario es una aplicación desarrollada para el Laboratorio para la Ciudad por:</p>
    <div class="text-center lead">
      
    <li><a href="http://twitter.com/rockarloz">Carlos Castellanos iOS Developer</a> </li>
    <li><a href="http://twitter.com/juancar1os">Juan Carlos Sanchez Ruby Developer</a> </li>
    <li><a href="http://twitter.com/yosoymikesaurio">Miguel Morán Android Developer</a> </li>
    
    Con la colaboración de :
     <li><a href="http://twitter.com/gabichabicha">Gabriela Olivera</a> </li>
      <li><a href="http://twitter.com/EsDobarganes">Jóse Espinoza</a> </li>

    </div>
    </div>
    <div align=center class="col-md-12">
    <div align=center class="col-md-3">

    <img src="secretarias/CDMX.png" height="100" width="100">
    </div>
    <div align=center class="col-md-3">

    <img src="secretarias/LABPLC.png" height="100" width="200">
    </div>
    <div align=center class="col-md-3">

    <img src="secretarias//SECTUR.png" height="100" width="100">
    </div>
    <div align=center class="col-md-3">

    <img src="secretarias//CULTURA.png" height="100" width="100">
    </div>
  </div>
</section>