<% provide(:title, 'About Us') %>

<section class="container-fluid" id="section3">

  <div align=center class="col-md-2">
  </div>
 <div align=center class="col-md-8">
  <h2 class="text-center" id="evento1">Sobre Eventario</h2>

  Eventario es una aplicación móvil que determina tu localización y te sugiere los eventos que la ciudad promueve.
 <pre class="espacio">
    </pre>
    <h2 class="text-center" id="evento1">¿Cómo funciona?</h2>
    <p class="">Al seleccionar un evento, la aplicación te muestra una descripción con detalles como la fecha, hora, lugar y precio, además de que te indica cómo llegar. Para encontrar actividades también puedes ingresar una dirección específica o usar la navegación en el mapa. La información de los eventos que encuentres la puedes compartir en Facebook y en Twitter, para así ayudar a promover las actividades que te parezcan más interesantes.
 </p>
 <pre class="espacio">
    </pre>
<h2 class="text-center" id="evento1">¿Por qué Eventario?</h2>
Eventario propone un estándar de captura y manejo de datos que cualquier secretaría de gobierno puede adoptar. Este modelo le permitirá a las dependencias compartir sus eventos de manera ágil y sencilla, mientras que a los ciudadanos les dará acceso a mayor información y de mejor calidad.
 <pre class="espacio">
    </pre>

<h2 class="text-center" id="evento1">CódigoCDMX</h2>
    Eventario es una aplicacion desarrallada en Código para la Ciudad de México (CódigoCDMX), un programa de nueve meses en el que cinco programadores, con apoyo de brigadistas voluntarios, trabajan codo a codo con dependencias del Gobierno del Distrito Federal para idear, desarrollar e implementar soluciones digitales de código abierto. Este programa que busca promover y fortalecer la interacción entre ciudadanía y gobierno es una iniciativa conjunta del Laboratorio para la Ciudad y Code for America, organización pionera en la promoción del acercamiento entre sociedad y gobierno a través de la tecnología.
    <pre class="espacio">
    </pre>
    <a href="http://codigo.labplc.mx"><img src="secretarias/codigo.png" height="100" width="270"></a>
     <pre class="espacio">
    </pre>
    <h2 class="text-center" id="evento1">Desarrolladores</h2>
    <div class="">
      
    <li><a href="http://twitter.com/rockarloz">Carlos Castellanos </a>- iOS Developer </li>
    <li><a href="http://twitter.com/juancar1os">Juan Carlos Sánchez </a>- Ruby Developer </li>
    <li><a href="http://twitter.com/yosoymikesaurio">Miguel Morán</a>  -  Android Developer</li>
    
     <pre class="espacio">
    </pre>
    <h2 class="text-center" id="evento1">Colaboradores</h2>

     <li><a href="http://twitter.com/gabichabicha">Gabriela Olivera</a> - Imagen y Diseño </li>
      <li><a href="http://twitter.com/EsDobarganes">Jóse Espinosa </a>- Imagen y Diseño </li>

    </div>
    </div>

    
    <div align=center class="col-md-2">
    </div>
    <pre class="espacio">
    </pre>
    <div align=center class="col-md-12">
       <pre class="espacio">
    </pre>
     <pre class="espacio">
    </pre>
    <div align=center class="col-md-3">
<a href="http://df.gob.mx/">
    <img src="secretarias/CDMX.png" height="100" width="100"></a>
    </div>
    <div align=center class="col-md-3">
      <a href="http://labplc.mx">
    <img src="secretarias/LABPLC.png" height="100" width="200"></a>
    </div>
    <div align=center class="col-md-3">
      <a href="http://www.mexicocity.gob.mx/">
    <img src="secretarias//SECTUR.png" height="100" width="100"></a>
    </div>
    <div align=center class="col-md-3">
       <a href="http://www.cultura.df.gob.mx/">
    <img src="secretarias//CULTURA.png" height="100" width="100"></a>
    </div>
  </div>
</section>