<% provide(:title, 'About Us') %>

<section class="container-fluid" id="section2">
  <h2 class="text-center" id="evento1">Sobre Eventario...</h2>
    <p class="text-center lead">Eventario es una aplicación que te permite encontrar eventos a tu alrededor  en la ciudad de México.</p>
    <img src="iphone2.png" class="img-responsive center-block ">
</section>