<% provide(:title, 'Inicio') %>
<div id="row">
  <div class="col-sm-12" id="box">
    
    <div class="col-sm-3"></div>
    <div class="col-sm-12">
      <div class="col-sm-2"> <img src="/logo_evento.png"  width="100%">
     </div>
        <div class="col-sm-9">
              <input class="barra" id="lugar" required="<%= true %>" type="text" placeholder="Av.Juan Escutia #35, Col.Condesa"></input>
              

              <input class="buscar"  onclick="get_Address()" type="button" value=""></input>

              <input class="localizarme" onclick="localizar()" type="button" value=""></input>
               <h2 class="eventos_textos"> Encuentra eventos culturales en la Ciudad de México</h2>
          </div>    

      <div class="col-sm-3"></div>
    </div>
    <pre id="espacio"></pre>
  </div>
  <row>
  <div class="container-fluid explorar">
    <div class="row-fluid contenedor" id="contflu">
      
      <div class="col-md-4" id="tarjetas">
        <h2 id="box" class="lblEventos" align=center>Eventos </h2>

      </div>
      <div class="mapa flexible col-md-8" id="mapa"></div>
    </div>
  </div>
</row>
</div>
<%= javascript_include_tag "mapa.js" %>
