<section class="container-fluid" id="section1">
  <div class="row">
 
  <h1 class="text-center v-center">Eventario.</h1>
  <p class="text-center">
          <img src="logo.png" width="30%" class="img-responsive center-block ">
        </p>
  <!--<div class="row">
      <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Concentra</h3><p>Eventario concentra en un solo lugar todos los eventos que ocurren en la ciudad de México.</p><i class="fa fa-cog fa-5x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">

          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center"><h3>Descubre</h3><p> Ya sea desde la aplicación móvil o desde la página web, descubre los eventos que estan sucediento a tu alrededor. </p><i class="fa fa-user fa-5x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 text-center"><h3>Disfruta</h3><p>Ahora que descubriste los eventos que la ciudad te ofrece, disfruta de ellos.</p><i class="fa fa-mobile fa-5x"></i></div>
          </div>
      </div>
  </div>--></div>
</section>

<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>¿Qué es Eventario?</h1>
        <br>
    <p class="lead">Es la herramienta digital que permite encontrar eventos en la ciudad de México de una manera fácil y amigable, los eventos que se  presentan  son eventos que distintas secretarias del gobierno de la ciudad de México proveen.

Con esto se logra promover la cultura de la Ciudad de México , dando así la opcción de encontrar la oferta diaria de eventos en la ciudad.</p>
        <br>
        <i style="font-size:120px" class="fa fa-camera fa-5x"></i>
        <p>Evenatario tambien pretende establecer un estandar en la infonrmación de los eventos en la ciudad, por lo cual Eventario tienen una sección de registro de eventos, dedica a organos de la ciudad que deseen dar de alta nuevos eventos, logrando así ofrecer un mejor servicio.</p>
        <iframe width="560" height="315" src="//www.youtube.com/embed/UDBKvwaMavc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
<!--
<section class="container-fluid" id="section3">
  <h1 class="text-center">Eventario</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center lead">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
        <div class="row">
          <div class="col-xs-6">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen..</div>
          <div class="col-xs-6 text-right">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</div>
        </div>
        <p class="text-center">
          <img src="/assets/example/img_mtnpeople.png" class="img-responsive center-block ">
        </p>
      </div>
   </div>
</section>

<section class="container-fluid" id="section4">
  <h2 class="text-center">Change this Content. Change the world.</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
      <img src="iphone2.png" class="img-responsive center-block ">
      <p class="text-center">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen..</p>
      </div>
    </div>
</section>
-->
<section class="container-fluid" id="section5">
  <h2 class="text-center">¿Qué haras hoy?</h2>
    <p class="text-center lead">Siempre hay algo que hacer en la CDMX.</p>
    <img src="iphone1.png" class="img-responsive center-block ">
</section>

<section class="container-fluid" id="section6">
  <h1 class="text-center">Código CDMX</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center lead">Evenario es una de las aplicaciones desarrolladas dentro de Código CDMX, Código busaca desarrollar e implementar aplicaciones informáticas y otras soluciones digitales creativas de código abierto para mejorar servicios urbanos promoviendo y fortaleciendo la interacción entre ciudadanía y gobierno.</p>
       
        <p class="text-center">
          <img src="http://codigo.labplc.mx/wp-content/uploads/2014/05/CODIGOBLANCO.png" class="img-responsive center-block ">
        </p>
      </div>
   </div>
</section>


