<% provide(:title, '') %>

<% provide(:jumbotron, '
        <div class="story">
        <h1>Eventario</h1>
        <p align="center">
  <img src="https://raw.githubusercontent.com/LabPLC/DejateCaer/master/Capturas/mapa.png" alt="cerca" height="20%" width="30%"/>
  </p>

        <nav>
          <ul id="nav">
            <li><a href="#intro" title="Siguiente Seccion">Conocer más</a></li>
              <li><a href="#descarga" title="Siguiente Seccion">Acerca de</a></li>
              <li><a href="#contacto" title="Siguiente Seccion">Contacto</a></li>
          </ul>
        </nav>
        </div>
  '.html_safe)%>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>¿Qué es Eventario?</h2>
        <p>Es una Aplicación en iOS que permite al usuario encontrar eventos en la ciudad de mexico de una manera facil y amigable, los eventos que esta app presenta al usuario son eventos que distintas secretarias del gobierno de la ciudad de México provee.
</p>
<p>
Con esto se logra promover la cultura de la Ciudad de México , dando asi al usuario la opcción de encontrar la oferta diaria de eventos en la ciudad. </p>
        <p><a class="btn btn-default" href="#" role="button">Ver mas</a></p>
      </div>
      <div class="col-xs-6">
        <h2>¿?</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">Ver mas</a></p>
     </div>
     
    </div>
