<% provide(:title, 'Privacy Policy') %>

<section class="container-fluid" id="section2">
  <h2 class="text-center" id="evento1">Terminos de Uso...</h2>
    <p class="text-center lead">Siempre hay algo que hacer en la CDMX.</p>
    <img src="iphone2.png" class="img-responsive center-block ">
</section>