<% provide(:title, 'Privacy Policy') %>

<section class="container-fluid" id="section3">
  <div align=center class="col-md-2">
  </div>
 <div align=center class="col-md-8">
  <h2 class="text-center" id="evento1">Términos de Uso</h2>
    <p class="">Eventario es una aplicación de codigo abierto, puedes aportar y contribuir en GitHub. 
      Algunas de las imagenes utilizadas en la aplicación fueron tomadas en <a href="http://thenounproject.com/">The Noun Project</a>.  Eventario no se hace responsable por el mal uso que se le de a la información presentada en toda la aplicación. Los datos que alimentan a Eventario son responsabilidad exclusivamente de quien los sube a la plataforma. Eventario cuenta con los apartados en donde la información puede consultarse en formato Json, toda persona es libre de hacer uso de dichos apartados haciendo mención a nuestra plataforma.
      Si Quieres colaborar con información y obtener una cuenta en eventario contactanos.</p>
    <a href="https://github.com/citydevs"><img src="github.jpg" class="img-responsive center-block "></div></a>
    <div align=center class="col-md-2">
  </div>
 
</section>
