<% provide(:title, 'Privacy Policy') %>

<section class="container-fluid" id="section3">
  <div align=center class="col-md-2">
  </div>
 <div align=center class="col-md-8">
  <h2 class="text-center" id="evento1">Términos de Uso</h2>
    <p class="">Eventario es una aplicación de codigo abierto, puedes aportar y contribuir en GitHub, 
      Algunas de las imagenes utilizadas en la aplicación fueron tomadas en The Noun Project.  Eventario no se hace responsable por el mal uso que se le de a la información presentada en toda la aplicación. Los datos que alimentan a Eventario son proporcionados por la Secretaría de Turismo y la Secretaría de Cultura de la Ciudad de México  </p>
    <a href="http://github.com/labplc/dejatecaer"><img src="github.jpg" class="img-responsive center-block "></div></a>
    <div align=center class="col-md-2">
  </div>
 
</section>