
<section class="container-fluid" id="section3">



 <div class="col-md-12">
 <div class="col-md-4">
 </div>
   <div class="col-md-4">
    <h1>Editando Lugar</h1>
<%= render 'form' %>
<%= link_to 'Ver', @venue %>

<%= link_to 'Volver', venues_path %>
</div>
  <div class="col-md-4">
 </div>
</div>
</section>