// Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapa{

  height:600px;
      //width: 100%;
}
#tarjetas {
 max-height: 50%;
  overflow-y:scroll; 
  height: inherit;
  height: 600px;
  //overflow: scroll;
  //width: 300px;
  //float: right;
  
}

.eventos_textos{

 color:#fff;
 //font-size:70px;


 }
 #barra{
 width: 1000px;
 }
 .lugar{

 width: 1000px;
 }
 .space{
border-style:none;
background-color: rgba(215, 44, 44, 0);
 }
 #espacio{
border-style:none;
background-color: rgba(215, 44, 44, 0);
 }
 
 #box{
 background-color:#F31734;
 }