 // Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
#mapa{

  height:600px;
  //width: 100%;
}
#tarjetas {
  max-height: 50%;
  overflow-y:scroll;
  height: inherit;
  height: 600px;
  //position:absolute;
  //overflow: scroll;
  //width: 35%;
  //float: right;

}

.eventos_titulos_textos{
 color:#000;
 font-size:60%;
 }

.eventos_textos{
  color:#000;
  font-family:Georgia, serif;
  font-style:italic;
  border:1px solid #fff;
  font-size:1.6rem;
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 2% 0;
  padding: 10px;
  text-align: center;
 }
.barra_header{
  margin:2% 0 0 0;
}
 th,td
{
padding:5px;
}

 #barra{
 width: 1000px;
 min-width:1000px;
 }

#localizarme
 {
 color:blue;
 width: 1000px;
 min-width:1000px;
 }

 .lugar{
 min-width:1000px;
 width: 1000px;
 }

 .space{
border-style:none;
max-height: 2px;
height: 2px;
width:100%;
background-color: rgba(7, 108, 239, 0);
 }

 #espacio{
border-style:none;
background-color: rgba(7, 108, 239, 0);
 }

 #box{
 background-color:#076FEF;
 }

 .titulo{
 color:white;
 font-family: "NIISans-Bold";
 src: url("/fuentes/NIISans-Bold.ttf") format ("ttf");
 font-size:25px;
 }

input.localizarme{
    background: #000 no-repeat top left;
    background-image: image-url("flecha.png") no-repeat;
    padding-left: 27px;
    height: 37px;
    color: white;
    width: 37px;
    border:none;
    border-radius:3px;
    vertical-align: top;
    background-size:cover;


}
input.buscar{
    background: #000 url('flecha.png') no-repeat;
    padding-left: 27px;
    height: 37px;
    color: white;
    width: 37px;
    border:none;
    border-radius:3px;
    vertical-align: top;
    background-size:cover;

  }
input.barra{
  width:51%;  
  height: 37px;
  border:none;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 2%;
}

