// Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapa{

  height:600px;
      width: 100%;
}
#tarjetas {
 max-height: 100%;
  overflow-y:scroll; 
  height: inherit;
  height: 600px;
  position:absolute;
  //overflow: scroll;
  width: 25%;
  //float: right;
  
}

.eventos_textos{

 color:#000;
 //font-size:70px;


 }
 #barra{
 width: 1000px;
 min-width:1000px;
 }

#localizarme
 {
 color:blue;
 width: 1000px;
 min-width:1000px;
 }
 
 .lugar{
 min-width:1000px;
 width: 1000px;
 }
 
 .space{
border-style:none;
max-height: 2px;
height: 2px;
width:100%;
background-color: rgba(215, 44, 44, 1);
 }

 #espacio{
border-style:none;
background-color: rgba(215, 44, 44, 0);
 }
 
 #box{
 background-color:#F31734;
 }
 .titulo{
 color:white;
 font-family: "NIISans-Bold"; 
 src: url("/fuentes/NIISans-Bold.ttf") format ("ttf");
 font-size:25px;
 }

input.localizarme{
    background: #fff url('/flecha.png') no-repeat top left;
    padding-left: 36px;
    height: 36px;
    color: white;
    width: 23px;
}
input.buscar{
    background: #fff url('/search.png') no-repeat top left;
    padding-left: 36px;
    height: 36px;
    color: white;
    width: 23px;
}
input.barra{
    width:70%;
   // padding-left: 36px;
    height: 36px;
}