html,body {
  height:100%;
   //
    //background:center no-repeat fixed url('/assets/example/bg_suburb.jpg');
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans {
  background-color:#F31734;
    color:#F31734;

}

.navbar-trans li>a:hover,.navbar-trans li>a:focus {
  background-color:#E40825;
}

.navbar-trans a{
    color:#fefefe;

}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
  padding-top:50px;
    padding-bottom:50px;
    min-height:calc(100% - 1px);
}

.v-center {
    padding-top:2%;
    font-size:70px;
}

.well {
  border-color:transparent;
}

#section1 {
  background-color: #FFF;
    color:#F31734;
}

#section2 {
  background-color: #F31734;
    color:#FFF;
}

#section3 {
  background-color: #FFF;
    color:#000;
}

#section4 {
  background-color: #F31734;
    color:#FFF;
}

#section5 {
  background-color: #FFF;
    color:#F31734;
}

#section6 {
background-color: #F31734;
    color:#FFF;
}

footer {
  background-color:#494949;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
  color:#fff;
}